extends layout

block content

    .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
        .mdl-grid.demo-content

            h1 History

            .demo-updates.mdl-cell.mdl-cell--12-col

            if sensors.length === 0
                h1(align='center') No data registered

            each value in sensors

                .demo-updates.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col
                    .mdl-card__title.mdl-card--expand.mdl-color-text--blue-grey-800(style='min-height:64px;max-height:64px;background-color:#f7faff')
                        h2.mdl-card__title-text #{value[3]}
                        .mdl-layout-spacer
                        i.material-icons(id='iod2'+value[3] style='color: grey;') info_outline
                        .mdl-tooltip.mdl-tooltip--large.mdl-tooltip--left(data-mdl-for='iod2'+value[3])
                            | Info

                    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.mdl-color-text--blue-grey-800(style='width:100%')
                        tbody
                            tr

                                td.detailstext.mdl-data-table__cell--non-numeric Temperature
                                    td.detailstext
                                        font(id='precip_today_metric') #{value[0]}
                                        font &nbsp;ºC

                            tr
                                td.detailstext.mdl-data-table__cell--non-numeric Humidity
                                td.detailstext
                                    font(id='visibility_km') #{value[1]}
                                    font &nbsp;%

                            tr
                                td.detailstext.mdl-data-table__cell--non-numeric Hearth rate BPM
                                td.detailstext
                                    font(id='dewpoint_c') #{value[2]}
                                    font &nbsp;bpm
