extends layout

block content

    script.
        $(function () {
            $('#btn_read').on('click', function (event) {

                console.log("Call /read");
                window.location = '/read';

            });

            $('#btn_history').on('click', function (event) {

                console.log("Call /history");
                window.location = '/history';

            });

        });

    .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
        .mdl-grid.demo-content
            center

                h1 Welcome to #{title}

                .demo-updates.mdl-cell.mdl-cell--12-col
                    a#btn_read.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.mdl-color--blue-grey-800.mdl-color-text--white(style='position:relative;min-width:554px;') Read values


                .demo-updates.mdl-cell.mdl-cell--12-col
                    a#btn_history.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.mdl-color--blue-grey-800.mdl-color-text--white(style='position:relative;min-width:554px;') History
